.main-header {
  h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
    }
  }

  nav {
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}